<!DOCTYPE html>
<html lang="en">
  <%- include('partials/scripts.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <tr>
              <th>Firstname</th>
              <th>Email</th>
            </tr>

            <% for(let i=0; i < users.length; i++) { 
                const user = users[i]
            %>
            <tr>
              <td><%= user.firstName %></td>
              <td><%= user.email %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>